<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomonitor">

    <!-- Разрешение об использование местоположения для устройств с версией Android < 6.0 -->

    <!-- Использование приблизительного определения местонахождения при помощи вышек сотовой связи или точек доступа Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <!-- Точное определение местонахождения при помощи GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeoMonitor">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>